/Code/AI
/Code/DataScience
/ReSearch/Face Recognition/archive
/ReSearch/Face Recognition/archive.zip
/Learning/Chapter5_Deep_Learning_Tips/dataset_new
/Learning/Chapter5_Deep_Learning_Tips/Lession_12/data
/Learning/Chapter5_Deep_Learning_Tips/Lession_12/data_augmentation
/Learning/Chapter6_Computer_Vision_Task/GreenParking
/Research/Dog and Cat Classification/CNNs/models
/Research/Voice Recognition/tensorflow-speech-recognition-challenge.zip
/Research/Voice Recognition/tensorflow-speech-recognition-challenge