/Code/AI
/Code/DataScience
/ReSearch/Face Recognition/archive
/ReSearch/Face Recognition/archive.zip
/Learning/Chapter5_Deep_Learning_Tips/dataset_new
/Learning/Chapter5_Deep_Learning_Tips/Lession_12/data
/Learning/Chapter5_Deep_Learning_Tips/Lession_12/data_augmentation